 <%- include('./includes/header.ejs')  %> 
<body>

  <div  class="se-pre-con"></div>

  <%- include('./includes/navbar.ejs')  %> 
  
  <%- include('./includes/searchbar.ejs')  %>

<button
        type="button"
        class="btn btn-md  float-right  cd-top  js-cd-top cd-top--is-visible cd-top--fade-out"
        id="toTopBtn"
        data-abc="true"
        >
  <span class="btn-sm  text-center"></span>
</button>

<%- include('./includes/footer.ejs')  %> 

