<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= pageTitle %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <link rel="stylesheet" href="/../public/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="shortcut icon" href="/../public/pics/faviconn.ico" >

 

  <style>
 .btn-change7{
    height: 50px;
    width: 50px;
    background: rgb(214, 39, 39);
    margin: 0.5%;
    float: left;
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
    
}
.btn-change7:hover{
    box-shadow:100px 0 0 rgb(62, 68, 96) inset;
}
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
body,
.badgescard,
.firstinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 100%;
    background: #00bcd4;
    font-size: 16px;
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
    width: 500px;
    min-height: 100px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.card:after {
    content: '';
    display: block;
    width: 190px;
    height: 300px;
    background: cadetblue;
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #00bcd4;
    color:#fff;
    width: 480px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1;
    left: 10px;
    bottom: 10px;
    animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}

.badgescard span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
}

.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.firstinfo .profileinfo {
    padding: 0px 20px;
}

.firstinfo .profileinfo h1 {
    font-size: 1.8em;
}

.firstinfo .profileinfo h3 {
    font-size: 1.2em;
    color: #00bcd4;
    font-style: italic;
}

.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
}

@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}

@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
} 
  </style>
</head>
<body>
     <!--Navbar -->
<nav class="navbar  fixed-top navbar-expand-sm navbar-dark  float-right" style="background-color: rgb(62, 68, 96); font-size: 14px;">
    <!--BRAND (Logo)-->
    <a class="navbar-brand" href="#">
      <img src="/../public/pics/cropped-logo-otms-4.png" alt="">
    </a>
    <!--end of BRAND (Logo)-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" onclick="smoothScroll(document.getElementById('Home'))" style="cursor: pointer;">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Shipments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  onclick="smoothScroll(document.getElementById('OH'))" style="cursor: pointer;">Order History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  onclick="smoothScroll(document.getElementById('Contact'))" style="cursor: pointer;">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">BL</a>
        </li>
        
      </ul>
  
  
  
  
      <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
        <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
        <li class="dropdown order-1">
            <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right mt-2">
               <li class="px-3 py-2">
                   <form class="form" role="form">
                        <div class="form-group">
                            <input id="emailInput" placeholder="UserID" class="form-control form-control-sm" type="text" required="">
                        </div>
                        <div class="form-group">
                            <input id="passwordInput" placeholder="Password" class="form-control form-control-sm" type="password" required="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                        <div class="form-group text-center">
                            <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot password?</a></small>
                        </div>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
  
    </div>
  </nav><br>
  <!------------------------/.Navbar ---------------------------------->






  <div class="content">
    <div class="card">
        <div class="firstinfo"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" />
            <div class="profileinfo text-center float-right ">
                <h1>لئو وارطومیان</h1>
                <h3>OTMSکارشناس نرم‌افزار</h3>
                <p class="bio">اطلاعات دیگر مانند بیوگرافی و غیره</p>
            </div>
        </div>
    </div>
    <div class="badgescard"> 
        <span class="fab fa-facebook"></span>
        <span class="fab fa-twitter"> </span>
        <span class="fab fa-google-plus"></span>
        <span class="fab fa-youtube"></span>
        <span class="fab fa-dribble"></span>
        <span class="fab fa-google"></span>
        <span class="fab fa-android"> </span>
    </div>
</div>







<!--------------------------------------------------- -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../public/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../public/js/script.js"></script>


</body>
</html>

