
<!----------------------- Footer ------------------------>
<footer class=" text-center text-white footer fixed-bottom " id="Contact" style="background-color: rgb(62, 68, 96);">

  <div class="container p-2" style="margin-bottom: 0.25rem !important ;">

    <!-- <section class="mb-4">

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i></a>


      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

     
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

    
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

   
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

    
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section> -->
    <!-- Section: Social media -->
    <!-- <div class="row">
      <div class="col-sm-6">
        <h4>درباره ما</h4>
        <p>شرکت کیاسامانه پیشگام با ارائه نرم افزارهای کاربردی،مسیر را برای کارمندان آسان<br> میکند .و با محاسبات دقیق، آسایش و آرامش را برای آنها به ارمغان می آورد</p>
        
      </div>
      <div class="col-sm-6">
        <h4>تماس با ما</h4>
        <p>آدرس :

          تهران، گیشا، خ ۲۱، پ ۴۹، واحد ۱<br>
        تلفن تماس: 

        ۸۸۲۷۴۴۴۶   
 و 
۸۸۲۷۴۴۶۰ 
        <br>
        ارتباط مستقیم با مدیرعامل: 

        ۹۱۲۲۱۱۶۴۷۰ +۹۸ 
        
        
        </p>
        
      </div>
     
    </div> -->

<!-- Section: Text -->
<!-- <section class="mb-4 ">
  <p>
    <strong>عضویت در خبرنامه</strong><br>
    .با عضویت در خبرنامه کیا سامانه از آخرین اخبار و اطلاعیه‌های سایت قبل از هر کس دیگری با خبر شوید
  </p>
</section> -->
    <!-- Section: Form -->
    <!-- <section class="">
      <form action=""> -->
        <!--Grid row-->
        <!-- <div class="row d-flex justify-content-center"> -->
          <!--Grid column-->
          <!-- <div class="col-auto">
            
          </div> -->
          <!--Grid column-->

          <!--Grid column-->
          <!-- <div class="col-md-5 col-12">

            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control text-center" placeholder="ایمیل خود را وارد کنید"/>
              
            </div>
          </div> -->
          <!--Grid column-->

          <!--Grid column-->
          <!-- <div class="col-auto">

            <button type="submit" class="btn btn-outline-light btn-one mb-4">
              <b>عضویت</b>
            </button>
          </div> -->
          <!--Grid column-->
        <!-- </div> -->
        <!--Grid row-->
      <!-- </form>
    </section> -->
    <!-- Section: Form -->
    <!-- Section: Text -->
    <!-- Section: Text -->
    <!-- Section: Links -->
    <!-- <section class=""> -->
      <!--Grid row-->
      <!-- <div class="row "> -->
       

        <!--Grid column-->

                <!--  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Links</h5>

                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#!" class="text-white">Link 1</a>
                    </li>
                    <li>
                      <a href="#!" class="text-white">Link 2</a>
                    </li>
                    <li>
                      <a href="#!" class="text-white">Link 3</a>
                    </li>
                    <li>
                      <a href="#!" class="text-white">Link 4</a>
                    </li>
                  </ul>
                </div>   -->

        <!--Grid column-->

       


      <!-- </div> -->
      <!--Grid row-->
    <!-- </section> -->
    <!-- Section: Links -->
  <!-- </div> -->
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center " >
     <span class="fab fa-html5 btn btn-warning btn-sm" title="Html" style="cursor:auto;"></span> <span class="fab fa-css3 btn btn-primary btn-sm" style="cursor:auto;" title="Css"></span> تهیه شده با <span class="fa fa-heart btn btn-danger btn-sm" style="cursor:auto;" title="عشق"></span>  و کمی چاشنی
    <br> © 2021<a href="" class="btn btn-dark btn-sm">PrivacyPolicy</a>.<a class="text-white btn btn-sm btn-dark" href="https://otms.ir/">KSP</a> توسط
  </div>
  <!-- Copyright -->
</footer>
<!---------------------------- Footer ---------------------------->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../public/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="../public/js/script.js"></script>
<script src="/../public/js/toastr.min.js"></script>
<script src="/../public/js/axios.min.js"></script>

<% if(middlewareError){ %>
  <script>
      toastr.options = {
          closeButton: false,
          showMethod : 'slideDown',
          hideMethod : 'slideUp',
          closeMethod : 'slideUp',
          rtl : true,
          preventDuplicates : true,
          positionClass : "toast-top-right"
      }
    
    toastr.error("<%= middlewareError %>" , 'خطا')
  </script>
<% } else if(middlewareSuccess) { %>
  <script>
      toastr.options = {
          closeButton: false,
          showMethod : 'slideDown',
          hideMethod : 'slideUp',
          closeMethod : 'slideUp',
          rtl : true,
          preventDuplicates : true,
          positionClass : "toast-top-right"
      }
    
    toastr.success("<%= middlewareSuccess %>")
  </script>
<% } %>

</body>
</html>