</footer>
<!---------------------------- Footer ---------------------------->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../public/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../public/js/script.js"></script>
<script src="/../public/js/toastr.min.js"></script>

<% if(middlewareError){ %>
  <script>
      toastr.options = {
          closeButton: false,
          showMethod : 'slideDown',
          hideMethod : 'slideUp',
          closeMethod : 'slideUp',
          rtl : true,
          preventDuplicates : true,
          positionClass : "toast-top-right"
      }
    
    toastr.error("<%= middlewareError %>" , 'خطا')
  </script>
<% } else if(middlewareSuccess) { %>
  <script>
      toastr.options = {
          closeButton: false,
          showMethod : 'slideDown',
          hideMethod : 'slideUp',
          closeMethod : 'slideUp',
          rtl : true,
          preventDuplicates : true,
          positionClass : "toast-top-right"
      }
    
    toastr.success("<%= middlewareSuccess %>")
  </script>
<% } %>

</body>
</html>