<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= pageTitle %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <link rel="stylesheet" href="/../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/infinite-slider.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="apple-touch-icon" sizes="180x180" href="/../public/pics/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/../public/pics/cropped-logo-otms-4.png">
<link rel="icon" type="image/png" sizes="16x16" href="/../public/pics/cropped-logo-otms-4.png">
<link type="text/css" rel="stylesheet" href="/../public/css/toastr.min.css">
<!-- Slick Slider CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

 

  <style>
 .btn-change7{
    height: 50px;
    width: 50px;
    background: rgb(214, 39, 39);
    margin: 0.5%;
    float: left;
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
    
}
.btn-change7:hover{
    box-shadow:100px 0 0 rgb(62, 68, 96) inset;
}
.btn-change8{
    height: auto;
    width: auto;
    background: rgb(214, 39, 39);
    margin: 0.5%;
    float: left;
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
    
}
.btn-change8:hover{
    box-shadow:250px 0 0 rgb(62, 68, 96) inset;
}
  </style>
</head>