<!--Navbar -->
<nav class="navbar  fixed-top navbar-expand-sm navbar-dark  float-right" style="background-color: rgba(62, 68, 96, 0.8); ">
    <!--BRAND (Logo)-->
    <a class="navbar-brand" href="http://localhost:3000/">
      <img src="/../public/pics/cropped-logo-otms-4.png" alt="">
    </a>
    <!--end of BRAND (Logo)-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav mr-auto" style="font-size: 16px;">
        <li class="nav-item active">
          <a class="nav-link" onclick="smoothScroll(document.getElementById('Home'))" style="cursor: pointer;"
          href="http://localhost:3000/">
          Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">All Shipments</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link "  onclick="smoothScroll(document.getElementById('OH'))" style="cursor: pointer;">
            Order History
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  onclick="smoothScroll(document.getElementById('Contact'))" style="cursor: pointer;">
            Contact Us
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">BL</a>
        </li>

        
        
      </ul>
      <ul class="navbar-nav ml-auto dropdown" style="float: right;">
        <% if (session.isLogedin) { %>

          <button class="dropbtn nav-item nav-link" style="background: rgba(62, 68, 96, 0.1); font-size: 13px;"><%= session.user.DesFa %></button>
          <div style="margin-top: -5px !important;" class="dropdown-content dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/logout">خروج</a>
            <a class="dropdown-item" href="/profile">پروفایل</a>

          </div>
          <% } else { %>
            <li class="nav-item ">
              <a class="nav-link" href="signIn"  ><b>ورود به سامانه
              </b></a>
            </li>
        <% } %>
      </ul>
  
      <!-- -- <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Login</b>
        </a>
          
          <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown"
          style="width: 300px;">
            
            <form class="form" role="form">
              <div class="form-group">
                  <input id="emailInput" placeholder="E-mail" class="form-control form-control-sm text-center" type="email" required
                  style="width: 80%; margin-left: 10%; margin-top: 10%;">
              </div>
              <div class="form-group">
                  <input id="passwordInput" placeholder="Password" class="form-control form-control-sm text-center" type="password" required style="width: 80%; margin-left: 10%;">
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block btn-change8" style="width: 80%; margin-left: 10%;">Login</button>
              </div>
              <div class="form-group text-center">
                  <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot password?</a></small><br>
                  <small>Are you new here?<a href="signup"> Sign Up</a></small>
              </div>
          </form>
          </div>
        </li>
      </ul>          end of the login btn and modal of main page-->
  
  
  
  
  
  
  
  
    </div>
  </nav>
  <!------------------------/.Navbar ---------------------------------->
  