<!----------------------- search bar -------------------------------->

<form action="/sendData" method="GET" target="_blank" >
    <div class=" bbbootstrap " >
  
    <div class="container " id="home" style="padding-bottom: 90px; max-width: 600px;">
         
      <div class="input-group ">
            <input class="form-control text-center rounded-0 "
             style="height: 50px;" 
            name="BlNumber"
            placeholder="Enter BL Number">
  
          <div class="input-group-addon rounded-0 " >
            <input class="icon  btn-change7  fa fa-search text-center" 
            type="submit"
            value="Search"
            style="line-height: 50px; border-radius: 0% 10% 10% 0%; cursor: pointer; width: 70px;"
            onclick="showDiv(); scrollToResult();">
          </div>
    </div>
    
  </div>
    
  </div>
  </form>
  <!----------------------- /.search bar ---------------------------->